<h1>Verify Alexa Account</h1>
<form method="post" action="/alexa-email">
<label for="email">Amazon Alexa Email</label>
<input type="email" name="email" id="email">
<input type="submit" value ="Submit">
</form>