<h1>Verify Alexa Account</h1>
<h3>A verification email has been sent to the email address <%=@email%></h3>
<h3>Please input the temporary password below</h3>

<form method="post" action="/alexa-verify">
<label for="temp_password">Temporary Password</label>
<input type="password" name="temp_password" id="temp_password">
<input type="submit" value ="Submit">
</form>