<h1>Link Alexa</h1>
<h3>If you have launch the rememeber me skill and say 'Link Rememeber Me Account', you will be given a unique code to enter in here:</h3>


<form method="post" action="/user/link-alexa">
<label for="unique_code">Unique Alexa Code</label>
<input type="text" name="unique_code" id="unique_code">
<input type="Submit" value="submit">
</form>

<a href="/">Back</a>



