<h1>Login</h1>

<form method="post" action="/login">
<label for="email">Email</label>
<input type="text" name="email" id="email">
<label for="password">Password</label>
<input type="text" name="password" id="password">
<input type="Submit" value="submit">
</form>

<p>Need to sign up?</p>
<a href="/signup">Sign up</a>

