<h1>Login</h1>

<form method="post" action="/login">
<label for="email">Email</label>
<input type="email" name="email" id="email">
<label for="password">Password</label>
<input type="password" name="password" id="password">
<input type="Submit" value="submit">
</form>
<br>
<br>
<h4>Need to sign up?</h4>
<a href="/signup">Sign up</a>

