<h1>Signup</h1>

<form method="post" action="/signup">
<label for="first_name">First Name</label>
<input type="text" name="first_name" id="first_name">
<label for="last_name">Last Name</label>
<input type="text" name="last_name" id="last_name">
<label for="email">Email</label>
<input type="email" name="email" id="email">
<label for="password">Password</label>
<input type="password" name="password" id="password">
<input type="Submit" value="submit">
</form>
<br>
<br>
<h4>Made an account though Alexa?</h4>
<a href="/alexa-email">Verify Account</a>
<br>
<br>
<h4>Have an account?</h4>
<a href="/login">Login</a>

