<h1>New Remember</h1>
<form method="post" action="/remembers">
<label for="phrase">Phrase</label>
<input type="text" name="phrase" id="phrase">
<label for="answer">Answer</label>
<input type="text" name="answer" id="answer">
<input type="submit" value ="Submit">
</form>