<h1>All remembers</h1>
<a href="/remembers/new">New Remember</a>
<a href="/">Home</a>

<%@remembers.each do |remember|%>

<span>
  <h4><%=remember.phrase%></h4>
  <h4><%=remember.answer%></h4>

  <br>
</span>

<%end%>

