
<div id="container-page-title">
  <a id="back-page-button" alt="back" href="/"><img src="/images/back_button.png"></a>
  <h2>View Remember</h2>
</div>

<div class="container-remember-view">

      <div class="remember-flex-box">
        <div class="remember-shape-bottom">
          <div id="bottom-text-container"><p><%=@remember.answer%></p></div>
        </div>
        <div class="remember-shape-top">
          <div id="top-text-container"><p><%=@remember.phrase%></p></div>
        </div>
      </div>

    <a id="back-page-button" alt="back" href="/remembers/<%=@remember.id%>/edit"><button class="button-animation" id="button-show-login" type="button">Edit</button></a>
</div>

<div class="container-delete-form">
  <form method="post" action="/remembers/<%=@remember.id%>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="image" src="/images/cross.png" alt="Delete" id="delete">
  </form>
</div>

<div id="container-face-index">
  <img src="/images/person.png" alt="Logo">
</div>


