<h1>Index</h1>
<h1>Welcome, <%=@user.first_name%></h1>

<form method="get" action="/test">
<input type="submit" value="email">
</form>

<a href="/remembers">See Remembers</a>
<a href="/logout">Logout</a>
